@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-start">
        <div class="col-12 col-sm-6 col-lg-4 col-xl">
            <div class="card border-light mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Soon</span>
                    <span class="badge badge-primary badge-pill">20:00</span>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Barcelona - Manchester</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pellentesque sed dolor vitae iaculis.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl">
            <div class="card border-light mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Secondary card title</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl">
            <div class="card bg-light mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Secondary card title</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl">
            <div class="card border-success mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Secondary card title</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>