@inject IFeatureService featureService
@{
    ViewData["Title"] = "Privacy";

    if(featureService.IsEnabledAsync(Flags.Privacy).Result)
    {
        ViewData["FeatureStatus"] = "Active";
    }
    else
    {
        ViewData["FeatureStatus"] = "Non Active";
    }
}

<h1>@ViewData["Title"]</h1>



<p>The feature Privacy is @ViewData["FeatureStatus"]</p>
