<configuration>
    <packageSources>
        <clear />
        <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
        <add key="GPR" value="https://nuget.pkg.github.com/xabaril/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <GPR>
            <add key="Username" value="Xabaril" />
            <add key="ClearTextPassword" value="GITHUB_TOKEN" />
        </GPR>
    </packageSourceCredentials>
</configuration>