.brand-link {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

    .brand-link .brand-image, .brand-link .brand-image-short {
        float: none;
        max-height: 55px;
    }

    .brand-link .brand-image-short {
        display: none;
    }

.sidebar-mini.sidebar-collapse .brand-link .brand-image {
    display: none;
}

.sidebar-mini.sidebar-collapse .brand-link .brand-image-short {
    display: initial;
}

.sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-link .brand-image {
    display: initial;
}

.sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-link .brand-image-short {
    display: none;
}

/*.main-sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}*/

.nav-link.active {
    background-color: rgba(255,255,255,.3) !important;
}

/* Actions */

i.far, i.fas {
    font-size: 1.7rem;
}

i.fa-power-off {
    font-size: 1.2rem;
}

i.fa-trash-alt, i.fa-power-off, i.fa-upload, i.fa-download {
    color: #d0d0d0;
}

    i.fa-trash-alt:hover, i.fa-power-off:hover {
        color: #f08080;
        cursor: pointer;
    }

    i.fa-upload:hover, i.fa-download:hover {
        color: #20b2aa;
    }

    .table {
        font-size: 1.2rem;
    }

.table > tbody > tr > td {
    vertical-align: middle;
}

/* Switch Component */

.switch-container input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch-container label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 20px;
    background: #d0d0d0;
    display: block;
    border-radius: 30px;
    position: relative;
    top: -15px;
    margin-bottom: 0;
}

.switch-container label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 10px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.switch-container input:checked + label {
    background-color: #20b2aa;
}

.switch-container input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.switch-container label:active:after {
    width: 30px;
}

/* Skeleton UI */

.action {
    width: 40px;
    height: 40px;
    margin: auto;
    background-color: #ccc;
    border-radius: 25%;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    background-size: 600px;
    animation: shine-action 1.6s infinite linear;
}

.line {
    float: left;
    width: 100%;
    height: 16px;
    border-radius: 7px;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    background-size: 66%;
    animation: shine-lines 1.6s infinite linear;
}

@keyframes shine-lines {
    0% {
        background-position: -100%;
    }

    100% {
        background-position: 100%;
    }
}

@keyframes shine-action {
    0% {
        background-position: -32px;
    }

    40%, 100% {
        background-position: 208px;
    }
}

ul.pagination.skeleton {
    min-width: 100px;
}

ul.pagination.skeleton > li {
    width: 100%
}

/* Table Component */

.table-component tr {
    cursor: pointer;
}

.table-component td.table-component__action {
    text-align: center;
}

.table-component .table-col-1 {
    width: 5%;
}

.table-component .table-col-2 {
    width: 10%;
}

.table-component .table-col-4 {
    width: 20%;
}

/* Page Title Component */

.page-title {
    width: 100%;
}

.page-title .page-title-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.page-title .page-title-heading {
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    align-content: center;
    align-items: center;
}

.page-title .page-title-subheading {
    padding: 3px 0 0;
    font-size: .94rem;
    opacity: .6;
}

    .page-title .page-title-icon {
        font-size: 2rem;
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        margin: 0 30px 0 0;
        background: #fff;
        box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,.03), 0 0.9375rem 1.40625rem rgba(4,9,20,.03), 0 0.25rem 0.53125rem rgba(4,9,20,.05), 0 0.125rem 0.1875rem rgba(4,9,20,.03);
        border-radius: .25rem;
        width: 60px;
        height: 60px;
        color: #888888;
    }
        .page-title .page-title-icon i {
            margin: auto;
        }

.page-title .page-title-actions {
    margin-left: auto;
    display: flex;
}

/* Buttons */
.btn-primary {
    background-color: #20b2aa;
    border: none;
}

    .btn-primary:not(:disabled):not(.disabled):hover,
    .btn-primary:not(:disabled):not(.disabled):active {
        background-color: #167974;
    }

    .btn-primary.btn-shadow {
        box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,.03), 0 0.9375rem 1.40625rem rgba(4,9,20,.03), 0 0.25rem 0.53125rem rgba(4,9,20,.05), 0 0.125rem 0.1875rem rgba(4,9,20,.03);
    }


/* Spacing */
.bottom-spacing {
    margin-bottom: 1rem !important;
}