@inject IJSRuntime  JSRuntime
<div id="@Id">

</div>

@code {
    [Parameter] public string Content { get; set; }
    [Parameter] public string Id { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("beautyJson",Id, Content);
    }
}
