<ol class="breadcrumb float-sm-right">
    @foreach (var item in Items)
    {
    <li class="breadcrumb-item@( item.Active ? " active": "" )">
        @if (string.IsNullOrEmpty(item.Link))
        {
            @item.Title
        }
        else
        {
            <NavLink href="@item.Link" class="brand-link">@item.Title</NavLink>
        }
        </li>
    }
</ol>

@code {
    [Parameter] public IEnumerable<BreadcrumbItemViewModel> Items { get; set; }
}
