@model WebApp.Models.Match

<flag featureName="@Flags.MinutesProgressBar">
    <div class="progress mb-4">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info js-minutes-progress" role="progressbar" aria-valuemin="0"></div>
    </div>
</flag>

<div class="container pb-4 js-minutes is-hidden">
    @foreach (var minute in Model.Minutes)
    {
        <div class="row minute pb-1 pt-1 js-minute is-hidden">
            <div class="col-1 text-center">@minute.Minute'</div>
            <div class="col-1 text-center">@minute.Event</div>
            <div class="col-10">@minute.Text</div>
        </div>
    }
</div>

@* Section not allowed in partial but this is enough for example purposes *@
<script src="~/js/match/minutes.js" asp-append-version="true"></script>
