/* General */
@font-face {
    /* https://www.behance.net/gallery/18713007/Atletico-(Free)-Font */
    font-family: 'PopWarner';
    src: url('/assets/fonts/Atletico.woff2') format('woff2'), url('/assets/fonts/Atletico.woff') format('woff');
}

html,
body {
    font-family: PopWarner;
    font-size: 16px;
}

/* Logo */
.logo {
    max-width: 3rem;
    width: 100%;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/* Cards */
.card-title {
    font-size: 1.1rem;
}

/* States */
.is-hidden {
    display: none;
}